@font-face {
font-family: 'icomoon';
src:url ('../fonts/icons.eot');
src: local('☺'),
url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
url('../fonts/icons.woff') format('woff'),
url('../fonts/icons.ttf') format('truetype'),
url('../fonts/icons.svg#icomoon') format('svg');
font-weight: normal;
font-style: normal; font-variant:normal;

}

[data-icon]:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }


html{

		overflow-y: hidden;

}


body{
	font-family: 'Raleway', sans-serif;
	color: #333333;
	margin: 0px;
   	padding: 0px;
	background-color: #FFF; 
	padding-right: 0px;
    padding-left: 0px;
}


.logo {
	padding-left:  10px;
	height: 120px;
}
.logo-text{
padding-top: 20px;
}


.wrapper {
	max-height: inherit;
	max-width: 100%;
    border: 1px solid;
    border-color: #efefef; 
	border-width: 1.5px;

}
.wrapperbg {
	max-height: inherit;
	max-width: 100%;
	background-color: #efefef;

}
.container-fluid {
	max-width: 1170px;
	padding: 0px;
	border-radius: 0px;


}
.jumbotronbg {

	background-color: #efefef;
	max-width: 100%;
	max-height: 200px;

}

.jumbotron {

	margin: 0; 
	border-radius: 0px !important;
	max-height: 340px;
	max-width: 1170px;
	
}


/* Carousel---------------------------*/ 

.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;

}

.carousel-indicators{
	bottom: -50px;

}
.carousel-indicators li{

	 background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active{
background-color: #000000;
  

		}

.carousel-caption {
	color: #000000;
	text-shadow: none;
	padding-left: 40px;
	padding-right: 50px;
	height: 100%;
	bottom: 0px;
	left: 20%;
	max-width: 650px;
	margin-left: -17%;
	background-color: rgba(255,255,255,0.5);

}

h1.slider{
	margin-top: 50px;
	font-weight: 600;
	font-size: 40px;
}

p.slide-text{

	margin-top: 10px;
 font-weight: 400;
 font-size: 20px;
 color: #4f575a;
 text-align: justify;

}

.btn {

}

.btn-slider {

	background-color: #ff5700;
	border-style: none;
	border-radius: 5px;
	max-height: 50px;
	font-size: 14px;
	max-width: 160px;
	margin-right:  400px;
	margin-top: 2%;

}

.btn-slider:hover{

	background-color: #e24f04;


}
/* NAV ----------------------------*/ 



/* navbar focus text  */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      text-decoration: underline;
}

/* active top nav */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    font-size: 14px;
    background-color: #fff;

}

.navbar-default .navbar-toggle {
    color: #000000;

}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
  border-top: 0px;
}

/* nav bar top active */
.navbar-default .navbar-link {
  color: #000000;
}

.navbar-default .navbar-link:hover {
  color: #000000;
}


.navbar-nav > li > a {
padding-top: 5px !important;
padding-bottom: 5px !important;
	}


.navbar 
{
	min-height: 30px;
	border: 0;
	border-radius: 0px;
	margin-bottom: 0px; 
	background-color: #FFF;

}

/* top nav list */
.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-weight: 600;
  font-size: 14px;

}

 .subnav {
	min-height: 40px !important;
	padding-top:5px !important; 
	padding-bottom:5px !important;  
	color: #000000;
	 background-color: #FFF;


}
.subnav > li > a {
font-weight: 300 !important;
  font-size: 22px !important;

}
.subnav:hover .subnav.active {
	background-color: #FFF;
}




/* ICONS ---------------------------*/ 

.icon-large {
	margin-right: 5px;
  font-size: 1.2em;
  line-height: 0.75em;
  vertical-align: -20%;
}
.icon-nav{

font-size: 0.7em;
color:#ff5700;
  line-height: 0.75em;
  vertical-align: -10%;
  margin-left: 2px;

}


.icon-briefcase:before {
	content: "\f0d3";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-dashboard:before {
	content: "\f07d";
}
.icon-database:before {
	content: "\f096";
}
.icon-device-mobile:before {
	content: "\f038";
}
.icon-git-branch:before {
	content: "\f020";
}
.icon-home:before {
	content: "\f08d";
}
.icon-mention:before {
	content: "\f0be";
}
.icon-person:before {
	content: "\f018";
}
.icon-search:before {
	content: "\f02e";
}
.icon-triangle-down:before {
	content: "\f05b";
}
.icon-social-vimeo-circular:before {
	content: "\e600";
}
.icon-social-twitter-circular:before {
	content: "\e601";
}
.icon-social-pinterest-circular:before {
	content: "\e602";
}
.icon-social-linkedin-circular:before {
	content: "\e603";
}
.icon-social-facebook-circular:before {
	content: "\e604";
}

/*  FORMS-------------------- */

.form-search {
	padding: 20px;
	padding-left: 15px;
	padding-top: 3px;
	height: 10px;
}
.search-box {
	display: hidden;

	margin-bottom: 20px;
	height: 20px;
	border: 0;
    width: 0px;
    transition: all 0.6s ease;
}

.expanded {
			margin-right: 20px;
	display: visible;
	border: 0;
	transition: all 0.6s ease;
    width: 100px;
}


input, input:focus {
	 outline: 0;
	background-color: #efefef;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	}



	/* MOBILE ------------------------------ */

	.mobile-jumbotron{

		display: none;
		
	}
.overlay-w{

	background-color: rgba(255,255,255,0.5);
	height: 120%;
	padding-left: 20px;

}
	


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  .hidecontent{
  	display: none;
  }

.mobile-jumbotron {
	display: block;
	background-image: url('../images/wm16801050.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
    background-repeat: no-repeat;
    	height: 340px;
}

}

@media only screen and (max-width : 768px) {
  
  .hidecontent{
  	display: none;
  }
.form-search {

	display: none;
}
.mobile-jumbotron {
		display: block;
	background-image: url('../images/wm16801050.png');
	background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
    	background-repeat: no-repeat;
    	height: 340px;
}

h1.slider{
	margin-top: 80px;
	font-weight: 600;
	font-size: 30px;
}

p.slide-text{

	margin-top: 10px;
 font-weight: 400;
 font-size: 20px;
 color: #333333;
 text-align: justify;

}

.btn-slider {
	font-size: 14px;
	max-width: 160px;
	margin-top: 5%;

}
}


