@font-face {
font-family: 'icomoon';
src:url ('../fonts/icons.eot');
src: local('☺'),
url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
url('../fonts/icons.woff') format('woff'),
url('../fonts/icons.ttf') format('truetype'),
url('../fonts/icons.svg#icomoon') format('svg');
font-weight: normal;
font-style: normal; font-variant:normal;

}

[data-icon]:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }



body{

	margin: 0px;
   	padding: 0px;
	background-color: #FFF; 
	padding-right: 0px;
    padding-left: 0px;
}


.logo {
	padding-left:  10px;
	height: 120px;
}


.wrapper {
	max-height: inherit;
	width: 100%;
    border: 2px solid;
    border-color: #efefef; 
	border-width: 1px;

}
.wrapperbg {
	max-height: inherit;
	width: 100%;
	background-color: #efefef;
    border: 1px solid;
    border-color: #efefef; 
	border-width: 1px;

}


.container-fluid {
	max-width: 1170px;
	padding: 0px;
	border-radius: 0px;


}
.jumbotronbg {

	background-color: #efefef;
	max-width: 100%;
	max-height: 200px;

}

.jumbotron {

	margin: 0; 
	border-radius: 0px !important;
	max-height: 340px;
	max-width: 1170px;
	
}


/* Carousel---------------------------*/ 

.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;

}


.carousel-indicators{
	bottom: -50px;

}
.carousel-indicators li{

	 background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active{
background-color: #000000;

		}

/* NAV ----------------------------*/ 

.navbar-default {
  border-color: #FFF;
  margin-bottom: 0px;
}

/* navbar focus  */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #efefef;
}

/* active top nav */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #efefef;
    font-size: 14px;

}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #efefef;
}
.navbar-default .navbar-toggle {
    color: #000000;

}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #efefef;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}

/* nav bar top active */
.navbar-default .navbar-link {
  color: #000000;
}

.navbar-default .navbar-link:hover {
  color: #000000;
}


.navbar-nav > li > a {
padding-top: 5px !important;
padding-bottom: 5px !important;
	}


.navbar 
{
	min-height: 30px;
	border: 0;
	border-radius: 0px;
	margin-bottom: 0px; 
	background-color: #FFF;

}

/* top nav list */
.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-size: 14px;

}

 .subnav {
 	padding-left: 5px;
	min-height: 40px !important;
	padding-top:5px !important; 
	padding-bottom:5px !important;  color: #000000;

}
.subnav > li > a {

  font-size: 22px !important;

}





/* ICONS ---------------------------*/ 

.icon-large {

  font-size: 1.35em;
  line-height: 0.75em;
  vertical-align: -15%;
}


.icon-briefcase:before {
	content: "\f0d3";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-dashboard:before {
	content: "\f07d";
}
.icon-database:before {
	content: "\f096";
}
.icon-device-mobile:before {
	content: "\f038";
}
.icon-git-branch:before {
	content: "\f020";
}
.icon-home:before {
	content: "\f08d";
}
.icon-mention:before {
	content: "\f0be";
}
.icon-person:before {
	content: "\f018";
}
.icon-search:before {
	content: "\f02e";
}
.icon-triangle-down:before {
	content: "\f05b";
}
.icon-social-vimeo-circular:before {
	content: "\e600";
}
.icon-social-twitter-circular:before {
	content: "\e601";
}
.icon-social-pinterest-circular:before {
	content: "\e602";
}
.icon-social-linkedin-circular:before {
	content: "\e603";
}
.icon-social-facebook-circular:before {
	content: "\e604";
}

/*  FORMS-------------------- */

.form-search {
	height: 10px;
	margin-right: 10px;
	margin-top: 6px;
}
.search-box {
	display: hidden;
	height: 20px;
	border: 0;
    width: 0px;
    transition: all 0.6s ease;
}

.expanded {
	display: visible;
	border: 0;
	transition: all 0.6s ease;
    width: 150px;
}


input, input:focus {
	 outline: 0;
	background-color: #efefef;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	}



	/* MOBILE ------------------------------ /*

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  .hidecontent{
  	display: none;
  }
}



@media only screen and (max-width : 480px) {
  
  .hidecontent{
  	display: none;
  }

}

